<div class="our-team">
  <div class="picture">
    <img class="img-fluid" src="{{ attr.imageurl }}" />
  </div>
  <div class="team-content">
    <h3 class="name">{{ attr.personname }}</h3>
    <h4 class="title">{{ attr.jobtitle }}</h4>
  </div>
  <ul class="social">

    {{ (e => { 
       
      return (e) ? `
      <li>
        <a href="{{ e }}" class="fa fa-globe" aria-hidden="true"></a>
      </li>
      ` : '' })( attr.websiteurl )}}

    <!-- check for personal web site attribute -->
    {{ (e => { return (e) ? `
      <li>
        <a href="{{ e }}" class="fa fa-globe" aria-hidden="true"></a>
      </li>
      ` : '' })( attr.websiteurl )}}

    <!-- check for facebook attribute -->
    {{ (e => { return (e) ? `
    <li>
      <a href="{{ e }}" class="fa fa-facebook" aria-hidden="true"></a>
    </li>
    ` : '' })( attr.facebookurl )}}

    <!-- check for twitter attribute -->
    {{ (e => { return (e) ? `
    <li>
      <a href="{{ e }}" class="fa fa-twitter" aria-hidden="true"></a>
    </li>
    ` : '' })( attr.twitterurl )}}

    <!-- check for github attribute -->
    {{ (e => { return (e) ? `
    <li>
      <a href="{{ e }}" class="fa fa-github" aria-hidden="true"></a>
    </li>
    ` : '' })( attr.githuburl )}}

    <!-- check for linkedin attribute -->
    {{ (e => { return (e) ? `
    <li>
      <a href="{{ e }}" class="fa fa-linkedin" aria-hidden="true"></a>
    </li>
    ` : '' })( attr.linkedinurl )}}

    
  </ul>
</div>
